  .wp-block-ept-single-post-details .single-post {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  
  
  }

  .wp-block-ept-single-post-details .post-images {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 auto 24px;
    margin-top:3rem;
    background-color: rgba(255, 255, 255, .3);
  }
  .wp-block-ept-single-post-details .image-container{
    height:480px;
    aspect-ratio: 16/9;
    width:auto;
    overflow: hidden;
    position: relative;
    display:flex;
    justify-content: center;
  }

  @media (max-width: 768px) {
    .wp-block-ept-single-post-details .image-container {
      height: 340px;
      aspect-ratio: 600 / 340; 
      
    }
  }
  @media (max-width: 480px) {
    .wp-block-ept-single-post-details .image-container {
      height: 270px; /* Full width on very small devices */
      aspect-ratio: 16 / 9; /* Common aspect ratio for mobile-friendly design */
    }
  }
  .wp-block-ept-single-post-details .image-root img {
    height: 100%;
    width: auto;
    max-height: 100%; 
    object-fit: cover; 
    object-position: center;
  }


.wp-block-ept-single-post-details .single-post-detail {
  margin-left: 1rem;
  font-size: 1.275rem;
  line-height: 1.25rem; 
  margin-top: 2rem;
  margin-bottom: 1rem;
  background-color: white;
  
}
.wp-block-ept-single-post-details .post-info{
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
  display:flex;
  float:left;
  flex-direction: column;
  font-size:2rem; 
  margin-top:0.55rem;
  
}

.wp-block-ept-single-post-details .post-buttons {
  display: flex;
  justify-content: flex-end;
  flex-direction: row-reverse;
  align-items: stretch;
} 

.wp-block-ept-single-post-details .single-post-detail {
  display:flex;
  justify-content: space-between;
}

.wp-block-ept-single-post-details .post-info> span, .detail-box {
  margin:1rem;
}

.wp-block-ept-single-post-details .post-buttons .heart-button {
  position: absolute;
  display:flex;
  align-content:center;
  align-items: center;
  justify-content: center;
  padding:0;
  width:55px;
  height:55px;
  font-size:30px;
  left: 90%;
  top:5%;
  margin-right: 1rem;
  background: rgba(255, 255, 255, 0.3);
  border-radius:2rem;
  z-index:2;
}

.wp-block-ept-single-post-details .post-buttons .heart-button>i{
  position:absolute;
  margin-top : 11%
}

.wp-block-ept-single-post-details .is-favorite .heart-button ,.wp-block-ept-single-post-details .heart-button:hover {
  color: red;
}
  
.wp-block-ept-single-post-details .is-favorite:hover .heart-button, .wp-block-ept-single-post-details .heart-button {
  color: black;
}




.wp-block-ept-single-post-details .single-post .arrow {
  position: absolute;
  padding:.5rem;
  padding-top:0.2rem;
  padding-bottom:0.11rem;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.8);
  border: none;
  cursor: pointer;
  font-size:1.3rem;
  border-radius:0.6rem;
}

.wp-block-ept-single-post-details .single-post .arrow:hover {
  background: rgba(255, 255, 255, 0.5);
}


.wp-block-ept-single-post-details .single-post .left-arrow {
  left: 0;
}

.wp-block-ept-single-post-details .single-post .right-arrow {
  right: 0;
}

.wp-block-ept-single-post-details .single-post .image-dots{
  position: absolute;
  top:90%;
  color:rgba(255, 255, 255, .6);
  
}



.wp-block-ept-single-post-details .single-post-image .image-dots .bi{
  margin:1px;
  background-color: inherit;
  font-size:8px;
}

.wp-block-ept-single-post-details .single-post-image .image-dots .bi:hover{
  color:rgba(255, 255, 255, 1);
}

.wp-block-ept-single-post-details .single-post .arrow,
.wp-block-ept-single-post-details .single-post .image-dots {
opacity: 0;
visibility: hidden;
transition: opacity 0.3s ease, visibility 0.3s ease;
}

.wp-block-ept-single-post-details .post-images:hover .arrow,
.wp-block-ept-single-post-details .post-images:hover .image-dots {
opacity: 1;
visibility: visible;
}

.wp-block-ept-single-post-details .image-preview-container{
  display:flex;
  flex-direction: row;
  margin:.5rem;
}

.wp-block-ept-single-post-details .image-preview-container .image-preview{
  width:100px;
  height:auto;
  margin:.7rem;
  padding:5px;

}

.wp-block-ept-single-post-details .image-preview-container .active{
  border:3px solid rgba(0, 0, 255, .6);
}

.wp-block-ept-single-post-details .single-post-detail .post-info .event-location>a:hover {
  text-decoration: underline;
}

.wp-block-ept-single-post-details #edit-line {
  width:80%;
  display:flex;
  flex-direction: row-reverse;
  border: 1px solid black;
  padding:1rem;
  margin:auto;
}


.wp-block-ept-single-post-details #edit-button {
  font-size:2rem;
}

.wp-block-ept-single-post-details #edit-button:hover{
  background-color: inherit;
}

.wp-block-ept-single-post-details #edit-button .bi{
  border-radius: .6rem;
  padding:.3rem;
  padding-bottom:0.1rem;
}
.wp-block-ept-single-post-details #edit-button .bi:hover{
  background-color:  var(--wp--preset--color--ept-gray-300);
  
}

.wp-block-ept-single-post-details .edit-phase{
  width:100%
}

.wp-block-ept-single-post-details textarea{
  resize:none;
}