/* Base Styles for ept-pe-query */
.wp-block-ept-pe-query {
    --tw-bg-opacity: 1;
    background-color: inherit;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-top: 0 !important;
}

.wp-block-ept-pe-query .inner-page-header {
    width: 100%;
    padding-bottom: 2rem;
    text-align: center;
}
@media (max-width: 640px) {
    .wp-block-ept-pe-query .inner-page-header {
        text-align: center;
    }
}


.wp-block-ept-pe-query .inner-page-header {
    margin-left: auto;
    margin-right: auto;
}

.wp-block-ept-pe-query h1 {
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 500;
    padding: 0;
}

/* Post Styles */
.wp-block-ept-pe-query .single-post {
    display: flex;
    flex-direction: column;
    height:400px;
    background-color: none;
    border-radius: 2rem;
    max-width: 300px;
}

.wp-block-ept-pe-query .image-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top:-3rem;
    margin: auto;
    overflow:hidden;
}

.wp-block-ept-pe-query .single-post-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.wp-block-ept-pe-query .single-post-image>a {
    width: 100%;
    height: 100%;
}
.wp-block-ept-pe-query .single-post-image img {
    width: 100%;
    height: 100%;
    object-fit:cover;
    object-position: center;
    border-radius: 0.5rem;
}

.wp-block-ept-pe-query .single-post-detail {
    width:100%;
    padding-top:0.7rem;
    padding-bottom:0.7rem;
    padding-left:0.3rem;
    display:flex;
    flex-direction:column;
    align-content: flex-start;
    font-size: 1.275rem;
    line-height: 1.25rem;
    position: relative;
    top: -2.7rem;
    background-color: white;
    border-radius:1rem;
}


.wp-block-ept-pe-query .single-post-detail > span {
    --tw-text-opacity: 1;
    color: rgb(107 114 128 / var(--tw-text-opacity));
    display: inline-block;
}

.wp-block-ept-pe-query .single-post-detail a.post-title{
    margin-bottom:1rem;
    display: block;
    font-weight: 600;
    font-size: 1.5rem;
    text-decoration: none;
}

.wp-block-ept-pe-query .single-post-detail a{
    text-decoration: underline;
}

.wp-block-ept-pe-query .posts {
    display: grid;
    justify-content:center;
    max-width: 95%;
    margin: auto;
    grid-template-columns: repeat(4, minmax(220px, 300px));
    grid-gap: 1rem;
    padding-left: calc((100vw - 300px * 4) / 2);
    padding-right: calc((100vw - 300px * 4) / 2); 
}

@media (max-width: 1550px) {
    .wp-block-ept-pe-query .posts {
        grid-template-columns: repeat(3, minmax(220px, 300px));
        padding-left: calc((100vw - 300px * 3) / 2); 
        padding-right: calc((100vw - 300px * 3) / 2); 
    }
}

@media (max-width: 1050px) {
    .wp-block-ept-pe-query .posts {
        grid-template-columns: repeat(2, minmax(220px, 300px));
        padding-left: calc((100vw - 300px * 2) / 2); 
        padding-right: calc((100vw - 300px * 2) / 2);
    }
}

@media (max-width: 640px) {
    .wp-block-ept-pe-query .posts {
        grid-template-columns: repeat(1, minmax(220px, 300px));
        padding-left: calc((100vw - 300px) / 2); 
        padding-right: calc((100vw - 300px) / 2);
    }
}

/* Styles for Buttons and Interactions */
.wp-block-ept-pe-query .post-buttons .heart-button {
    position: relative;
    padding:1px;
    width:43px;
    height:43px;
    left: 80%;
    font-size: 2rem;
    margin-right: 1rem;
    background-color: white;
    border-radius:2rem;
    z-index:2;
}

.wp-block-ept-pe-query .post-buttons .heart-button >i{
    position:relative;
    bottom:0px;
    left:0;
}
.wp-block-ept-pe-query .is-favorite .favorite ,.wp-block-ept-pe-query .favorite:hover {
    color: red;
}
    
.wp-block-ept-pe-query .is-favorite:hover .favorite, .wp-block-ept-pe-query .favorite {
    color: black;
}



  
.wp-block-ept-pe-query .single-post .arrow {
    display:none;
    position: absolute;
    padding:.5rem;
    padding-top:0.2rem;
    padding-bottom:0.2rem;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.3);
    border: none;
    cursor: pointer;
    font-size:1.3rem;
  }

  .wp-block-ept-pe-query .single-post .arrow:hover {
    background: rgba(255, 255, 255, 0.5);
  }

  .wp-block-ept-pe-query .image-container:hover .arrow {
    display: block;
}

  .wp-block-ept-pe-query .single-post .left-arrow {
    left: 0;
  }
  
  .wp-block-ept-pe-query .single-post .right-arrow {
    right: 0;
  }